@import "bootstrap-sprockets";
@import "bootstrap";

.cool-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background-color: #fafafa;
  font-family: 'Noto Sans', sans-serif;
}

.top-nav {
  background-color: white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height:70px;
  padding-top:15px
}

.top-nav .add a {
  font-weight: bold;
  color: #125688;
  font-size: 16px;
  padding-left:8px;
}

.top-nav .add {
  margin-top:10px;
}

.brand a {
  color: #125688;
  font-size: 30px;
  font-family: 'Noto Sans'
}

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

.card h3, .card .title .message {
  font-size: 24px;
  margin: 20px;
}

.card.form {
  padding: 40px;
}

.card.text-center {
  padding: 40px;
}

.handle {
  margin: 10px;
  color: #125688;
  font-weight: bold;
  font-size: 25px;
}

label {
  font-size: 18px;
}

input {
  font-size: 18px;
  font-weight: 400;
}

.my-btn {
  background-color: #125688;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.input.boolean {
  margin-left:18px;
  margin-top:5px;
}

.input.boolean label {
  margin-top:5px;
  line-height: 44px;
}

.post-actions a {
  font-weight: bold;
  font-size: 16px;
  margin-right:20px;
}

.comments {
  text-align: center;
  padding: 20px;
}

.comment {
  text-align: center;
  font-size: 24px;
}

.comment_handle {
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}

.comment {
  font-size:16px;
  margin-top:5px;
}

.clear-fix {
  clear: both;
}

